<div class="container items-center">
  <h1 class="text-black text-lg font-bold text-4xl" id="edit_survey_<%= @survey_answer.id %>">Editing survey answer for <%= @survey.title %></h1>

  <div class="md-5 px-5">
    <%= render "form", survey_answer: @survey_answer, survey: @survey %>
  </div>

  <br>

  <div class="md-5 p-2">
    <%= link_to "Show this survey answer", survey_survey_answer_path(@survey, @survey_answer), class: "px-3 text-xs"  %> |
    <%= link_to "Back to survey answers", survey_survey_answers_path(@survey), class: "px-3 text-xs"  %>
  </div>
</div>
