<h1>Answers for Survey <%= @survey.title %></h1>

<div id="survey_answers">
  <% @survey_answers.each do |survey_answer| %>
    <%= render survey_answer %>

    <%= link_to "New answer for Survey #{survey_answer.survey.title}", new_survey_survey_answer_path(@survey) %>
    <%= link_to "Edit answer for Survey #{survey_answer.survey.title}", edit_survey_survey_answer_path(@survey, survey_answer) %>
    <p>
      <%= link_to "Show this survey answer", survey_survey_answer_path(@survey, survey_answer) %>
    </p>
  <% end %>
</div>
