<!DOCTYPE html>
<html>
  <head>
    <title>SurveyTool</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div><p style="color: green"><%= notice %></p></div>
    <div><%= alert %></div>

    <% if user_signed_in? %>
      <%= button_to "Create Survey", new_survey_path, method: :get %>
      <%= link_to "List Surveys", surveys_path %>
      <%= button_to "Log Out", session_path(current_user), method: :delete %>
    <% else %>
      <%= link_to "Log In", new_session_path  %>
      <%= link_to "Sign Up", new_registration_path %>
    <% end %>
    <%= yield %>
  </body>
</html>
